[Desktop Entry]
Name=Tanglu Jellyblue

X-KDE-PluginInfo-Name=tanglu
X-KDE-PluginInfo-Author=Based on photo of Lance Anderson
X-KDE-PluginInfo-License=CC0-1.0
