[Desktop Entry]
Name=Tanglu Between

X-KDE-PluginInfo-Name=tanglu-between
X-KDE-PluginInfo-Author=Photo by Tim Marshall
X-KDE-PluginInfo-License=CC0-1.0
