[Desktop Entry]
Name=Tanglu Rocks

X-KDE-PluginInfo-Name=tanglu-rocks
X-KDE-PluginInfo-Author=Photo by Kace Rodriguez
X-KDE-PluginInfo-License=CC0-1.0
