[Desktop Entry]
Name=Tanglu Deep

X-KDE-PluginInfo-Name=tanglu-deep
X-KDE-PluginInfo-Author=Based on photo of Sven Scheuermeier
X-KDE-PluginInfo-License=CC0-1.0
